:root {
    --heading-col: #FFFFFF;
    --text-col: #ffffff;
    --hover-col: #C72E2E;

    --button-col: #ffffff;
    --button-col2: #C72E2E;
    --hover-button-col:  #000000;
    --hover-text-col: #000000;

    --background-col: #101010;

    --col-transition-duration: 0.3s;

    --accent: #D2D2D2;
    --contrast-accent: #8E8E8E;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;    
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background: var(--background-col);
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    background: var(--background-col);
    

}

.navdiv {
    display: flex;

    padding-right: 10vh;
    padding-left: 10vh;
    padding-top: 4vh;
    font-size: 1.3rem;

    font-weight: 700;
    font-style: normal;

    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}
.logo a{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--heading-col);
}

.logo-img {

    width: 5vh; 
    height: auto; 
    padding-right: 2vh;

}


li {
    list-style: none;
    display: inline-block;
    
}

li a{
    color: var(--heading-col);
    margin-right: 3vh;
    transition: color var(--col-transition-duration) ease;
}

li a:hover{
    color: var(--hover-col);    
    
}

/* Container styling */
.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--background-col);
}

/* Left section styling */
.left {
    flex: 1; /* Take up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px; /* Margin from the top */
}

.rounded-image {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 80vh; /* Adjust as needed to limit the image height */
    height: auto;
    border-radius: 15px; /* Rounded corners */
}

/* Right section styling */
.right {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Center content vertically */
    align-items: flex-start; /* Center content horizontally */
    padding: 100px;
    margin-top: 120px; 
    color: var(--text-col); /* Set text color */
}

.content {
    text-align: left; /* Align content to the left */
}


h1 {
    margin-bottom: 30px;
    font-size: 5vh;
}

.cta-text {
    margin-bottom: 10px;
    font-weight: 500;
}

.description-text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 2vh;
}

.input-with-button {
    display: flex;
    flex-direction: column;
}

#gumroad-follow-form-embed-input {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 1rem;
    width: 40rem;
    border: 2px solid var(--button-col); /* White outline */
    border-radius: 1rem;
    color: white; /* White text */
    background-color: var(--background-col); /* See-through white background */
    margin-bottom: 20px;

    margin: 20 auto;
    display: block;
}

#gumroad-follow-form-embed-button {
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--text-col);
    background-color: var(--button-col2); /* See-through white background */
    border: 2px solid var(--button-col2); /* White outline */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition */

    margin: 0 auto;
    display: block;
}

#gumroad-follow-form-embed-button:hover {
    transform: scale(1.05); /* Slightly scale on hover */
    background-color: var(--button-col); /* Fully white background on hover */
    color: var(--hover-text-col); 
    border-color: var(--hover-button-col);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
